.footer{

background:

linear-gradient(
135deg,
#17140e,
#2b2416
);

color:white;

padding:70px 25px 25px;

position:relative;

overflow:hidden;

}


.footer::before{

content:"";

position:absolute;

width:450px;

height:450px;

border-radius:50%;

background:rgba(200,162,76,.12);

filter:blur(120px);

top:-200px;

right:-150px;

}



.footer-container{

position:relative;

z-index:2;

max-width:1300px;

margin:auto;

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:60px;

}



.footer-logo{

display:flex;

align-items:center;

gap:12px;

font-size:24px;

font-weight:700;

color:#D8B45A;

margin-bottom:20px;

}



.footer-brand p{

color:#c8c8c8;

line-height:2;

max-width:420px;

}



.footer h3{

color:#D8B45A;

margin-bottom:22px;

font-size:20px;

}



.footer-links{

display:flex;

flex-direction:column;

gap:14px;

}


.footer-links a{

color:#ddd;

text-decoration:none;

transition:.3s;

}



.footer-links a:hover{

color:#D8B45A;

padding-right:8px;

}



.footer-contact div{

display:flex;

align-items:center;

gap:12px;

margin-bottom:18px;

color:#ddd;

}



.footer-contact svg{

color:#D8B45A;

}



.footer-bottom{

position:relative;

z-index:2;

max-width:1300px;

margin:50px auto 0;

padding-top:25px;

border-top:1px solid rgba(255,255,255,.15);

display:flex;

justify-content:space-between;

align-items:center;

}



.footer-bottom p{

color:#aaa;

font-size:14px;

}



.footer-bottom button{

width:45px;

height:45px;

border-radius:50%;

border:none;

cursor:pointer;

background:#C8A24C;

color:white;

display:flex;

align-items:center;

justify-content:center;

}



@media(max-width:900px){


.footer-container{

grid-template-columns:1fr;

gap:35px;

}


.footer-bottom{

flex-direction:column;

gap:20px;

text-align:center;

}


}